<%-layout('layouts/boilerplate')%>

<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card mb-5">
            <div class="card-body shadow bg-body rounded">
                <h3 class="card-title">Register</h3>
                <img src="images/wallpaper-preview.jpg" alt="" class="card-img-top">
                <form action="/register" method="post" class="form-validation" novalidate>
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" class="form-control" autofocus id="username" name="username" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">E-mail</label>
                        <input type="text" class="form-control" id="email" name="email" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="d-grid gap-2">
                    <button class="btn btn-success">Sign Up</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
</div>
